<!--Samantha Lambert -  samantha.carol.lambert@gmail.com - Coding Challenge - 8/2/2018!-->

{% extends "layout.html" %}
{% block body %}
<!--uploading file-->
  <h2>Upload New File:</h2>
      <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
      </form>
  <ul class="files" style="list-style-type:none">
  <!--viewing uploaded files-->
    <h3>Uploaded Files:</h3>
    {% for file in fileList %}
    <br></br>
      <form action="" method="post">
          <li> Filename: <input type="text" name="fileName" size="30" readonly value={{ file.filename }}>
          <li> Total Revenue: <input type="text" name="totalRev" size="30" readonly value=${{ "{0:,.2f}".format(file.totalRevenue) }}>
      <li> <input name="viewData" type="submit" value="View Data">
      </form>   
  {% else %}
     <li><em>No files have been uploaded yet.</em>
  {% endfor %}
  </ul>
{% endblock %}